/* style.css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
}

input {
    display: block;
    width: 100%;
    padding: 5px;
}

button {
    padding: 5px 10px;
    margin-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: 1px solid black;
}

.hide {
    display: none;
}